@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Press+Start+2P&family=Russo+One&family=VT323&display=swap');
@import '../../../styles/variables';

.games-header {
  color: $color1;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Russo One', sans-serif;
}
